.checkbox {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    appearance: none;
    border: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #fff;
    background-size: cover;
    outline: none;
}

.small {
    width: 16px;
    height: 16px;
}

.checkbox:not(:disabled):hover {
    border-color: #000;
}

.checkbox:focus-visible {
    border-color: #009bd2;
    box-shadow: 0 0 0 1px #009bd2 inset;
}

.checkbox:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' vector-effect='non-scaling-stroke'%3E%3Cpath fill='none' stroke='%23000' stroke-width='2' d='m5,11 5,5 8,-8'%3E%3C/path%3E%3C/svg%3E");
}

.checkbox:indeterminate {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' vector-effect='non-scaling-stroke'%3E%3Cline x1='6' y1='12' x2='18' y2='12' stroke='%23000' stroke-width='2'%3E%3C/line%3E%3C/svg%3E");
}

.checkbox:disabled {
    border-color: #ddd;
    background-color: #f9f9f9;
}

.checkbox:invalid:not(:focus-visible) {
    border-color: red;
}

.label {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.label.disabled {
    color: #aaa;
}
