.wrapper {
    --height: 48px;
    --font-size: 16px;
    --padding-x: 12px;
    --padding-y: 8px;
    display: inline-block;
    font-size: var(--font-size);
    position: relative;
    vertical-align: top;
}

.wrapper.expanded {
    z-index: 2;
}

.label {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(145, 145, 145);
    font-weight: 300;
    font-size: inherit;
    line-height: 1.2;
    transform-origin: top left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:
        color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
        transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,
        max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: none;
    transform: translate(
        var(--padding-x),
        calc(var(--height) - var(--font-size) - var(--padding-y))
    ) scale(1);
    max-width: calc(100% - calc(var(--padding-x) * 2));
}

.input {
    display: block;
    font: inherit;
    color: #646464;
    caret-color: red;
    background-color: #fff;
    border: 1px solid #aaa;
    box-sizing: border-box;
    height: var(--height);
    min-width: 300px;
    width: 100%;
    animation-duration: 10ms;
    margin: 0;
    padding: calc(var(--height) - var(--font-size) - var(--padding-y) - 2px)
        26px var(--padding-y) var(--padding-x);
    border-radius: 2px;
    transition: 0.3s;
    transition-property: background-color, border, box-shadow;
    text-align: left;
}

.collapsed .input:hover {
    border-color: #1c1c1c;
}

.input:focus-visible {
    border-color: #009bd2;
    box-shadow: inset 0 0 0 1px #009bd2;
}

.input.has_value ~ .label {
    color: rgb(100, 100, 100);
    transform: translate(calc(var(--padding-x) + 1px), var(--padding-y))
        scale(0.75);
}

.input:user-invalid {
    outline: 1px solid red;
}

.input.required ~ .label:after {
    content: "*";
    color: red;
}

.input.readonly {
    border-color: #e6e6e6;
    background-color: #fafafa;
}

.input.disabled,
.input.disabled ~ .label {
    border-color: #e6e6e6;
    color: #bebebe;
}

.picker {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    padding: 68px 10px 10px 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    animation: scaleZ 0.2s ease-in-out;
    transform-origin: center 24px;
}

.icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    transform: rotate(0deg);
    pointer-events: none;
}

.expanded .icon {
    transform: rotate(180deg);
    animation: rotateClockwise 0.2s ease-in-out;
}

.collapsed .icon {
    animation: rotateAntiClockwise 0.2s ease-in-out;
}

.scroller {
    overflow-y: auto;
}

@keyframes scaleZ {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateAntiClockwise {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
