.list {
    font-size: 0.875rem;
    padding: 5px;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    border: 1px solid transparent;
    overflow-x: hidden;
    overflow-y: auto;
}

.group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.group:before {
    content: '';
    display: block;
    height: 1px;
    background-color: rgb(213, 211, 207);
    margin: 0.3125em
}

.list li:first-child>.group:before {
    display: none;
}

.group:empty,
.list:empty {
    display: none;
}

.groupTitle {
    font-size: 0.75rem;
    color: rgb(162, 160, 158);
    padding: 0.125em 0.625rem;
    padding: 0.625em 0.625em 0.125em 0.625rem;
}

.listitem:not(.custom) {
    cursor: pointer;
    padding: 0.25em 0.625rem;
    border: 1px solid transparent;
    border-radius: 3px;
}



.listitem:not(.disabled):hover,
.active:not(.disabled) {
    background-color: rgb(115, 160, 252);
    color: #fff;
}

.disabled {
    color: rgb(176, 172, 168);
    cursor: unset
}

.selected:after {
    content: "✓";
    margin-left: 0.5em;
}