.trigger {
    position: absolute;
    right: 6px;
    top: 6px;
    height: 35px;
    width: 36px;
}

.trigger.active {
    background-color: #2d2d2d;
    color: #fff;
}

.floating {
    box-sizing: border-box;
    width: 368px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color: #fff;
    z-index: 2;
}
