.trigger {
    position: absolute;
    right: 6px;
    top: 6px;
    height: 35px;
    width: 36px;
}

.trigger.active {
    background-color: #2d2d2d;
    color: #fff;
}

.floating {
    box-sizing: border-box;
    width: 368px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color: #fff;
    z-index: 2;
    animation: scale 0.2s ease-in-out;
    transform-origin: center 24px;
}

.sr_only {
    position: absolute;
    top: -2000em;
    left: -3000em;
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
