.trigger {
    position: absolute;
    right: 10px;
    top: 10px;
}

.floating {
    box-sizing: border-box;
    width: 368px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color: #fff;
}
