.btn {
    border-radius: 2px;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.icon:empty {
    display: none;
}

.text {
    pointer-events: none;
    font-size: 14px;
    line-height: 20px;
}

.solid {
    color: #fff;
}

.solid.neutral {
    background-color: grey;
}

.solid.primary {
    background-color: blue
}

.solid.danger {
    background-color: red
}

.solid.info {
    background-color: skyblue
}

.solid.success {
    background-color: green;
}

.solid.warning {
    background-color: orange
}


.outlined.neutral {
    border-color: grey;
    color: grey;
}

.outlined.primary {
    border-color: blue;
    color: blue
}

.outlined.danger {
    border-color: red;
    color: red
}

.outlined.info {
    border-color: skyblue;
    color: skyblue
}

.outlined.success {
    border-color: green;
    color: green
}

.outlined.warning {
    border-color: orange;
    color: orange
}

.link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.link.neutral,
.ghost.neutral {
    color: grey;
}

.link.primary,
.ghost.primary {
    color: blue
}

.link.danger,
.ghost.danger {
    color: red
}

.link.info,
.ghost.info {
    color: skyblue
}

.link.success,
.ghost.success {
    color: green
}

.link.warning,
.ghost.warning {
    color: orange
}