body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family:
        system-ui,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

a {
    color: #000066;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: 300;
}
