.group {
    margin-bottom: 32px;
}

.group,
.group legend {
    display: block;
    border: none;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}

.group legend {
    color: #3f3f3f;
    margin-bottom: 16px;
}

.group legend:empty {
    display: none;
}

.horozontal .label + .label {
    margin-left: 32px;
}

.vertical .label {
    width: 100%;
}

.vertical .label + .label {
    margin-top: 16px;
}
