.group {
    margin-bottom: 32px;
}

.group,
.group legend {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

.group legend {
    color: #3f3f3f;
    margin-bottom: 16px;
}

.group legend:empty {
    display: none;
}

.inline .item {
    display: inline-block;
}

.inline .item + .item {
    margin-left: 24px;
}

.block .item {
    display: table;
}

.block .item + .item {
    margin-top: 16px;
}

.grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(var(--columns), auto);
}
