.wrapper {
    box-sizing: border-box;
    display: block;
    overflow: auto;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    content-visibility: auto;
}

.wrapper thead tr {
    position: sticky;
    top: 0;
    z-index: 1;
}

th.sticky,
td.sticky {
    position: sticky;
    left: 0;
}

.wrapper tfoot tr {
    background-color: #fff;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.head_sticky thead tr,
.foot_sticky tfoot tr {
    box-shadow: 0 0 5px 0 #646464;
}
