:root {
    --ubs-black: #000000;
    --ubs-red: #e60000;
    --ubs-white: #ffffff;
    --ubs-red-web: #da0000;
    --ubs-bordeaux1: #bd000c;
    --ubs-sand: #b39a74;
    --ubs-caramel: #cfbd9b;
    --ubs-ginger: #e0d5bd;
    --ubs-chocolate: #4d3c2f;
    --ubs-clay: #7b6b59;
    --ubs-mouse: #beb29e;
    --ubs-curry: #e5b01c;
    --ubs-amber-web: #f2c551;
    --ubs-warm5: #5b5e5d;
    --ubs-honey: #edc860;
    --ubs-straw: #f2d88e;
    --ubs-chestnut-web: #ba0000;
    --ubs-chestnut: #a43725;
    --ubs-terracotta: #c07156;
    --ubs-cinnamon: #e6b6a4;
    --ubs-pine: #00898d;
    --ubs-mint: #55b1b4;
    --ubs-sage: #97d3cc;
    --ubs-olive-web: #677d00;
    --ubs-olive: #90a723;
    --ubs-kiwi: #cdd760;
    --ubs-lemongrass: #e6ebb0;
    --ubs-lagoon-web: #0e7ca4;
    --ubs-lagoon: #009bd2;
    --ubs-lake: #6fb6df;
    --ubs-glacier: #a1cce4;
    --ubs-plum: #3a578a;
    --ubs-lilac: #6c87b3;
    --ubs-lavender: #afbcd5;
    --ubs-cod: #1c1c1c;
    --ubs-tundora: #444444;
    --ubs-carbon: #646464;
    --ubs-smoke: #919191;
    --ubs-nobel: #aaaaaa;
    --ubs-stone: #bebebe;
    --ubs-silver: #cccccc;
    --ubs-alto: #d7d7d7;
    --ubs-mercury: #e6e6e6;
    --ubs-gallery: #eeeeee;
    --ubs-concrete: #f5f5f5;
    --ubs-alabaster: #fafafa;
    --ubs-carla: #e5e6c5;
    --ubs-pippin: #f7e1df;
    --ubs-geyser: #dee2e9;
    --ubs-scotch: #fff3d8;
    --ubs-charlotte: #e6f5fb;
    --ubs-daisy: #fff469;
    --ubs-alto-alpha: #00000029;
    --ubs-mercury-alpha: #0000001a;
    --ubs-gallery-alpha: #00000012;
    --ubs-text-primary: #1c1c1c;
    --ubs-text-secondary: #646464;
    --ubs-text-emphasis: #ba0000;
    --ubs-text-label: #646464;
    --ubs-text-placeholder: #646464;
    --ubs-text-disabled: #bebebe;
    --ubs-text-disabled-selected: #eeeeee;
    --ubs-text-inverse: #ffffff;
    --ubs-trade-red-text: #ba0000;
    --ubs-link: #da0000;
    --ubs-link-hover: rgb(203, 0, 0);
    --ubs-link-pressed: rgb(186, 0, 0);
    --ubs-highlight-auto: #e6f5fb;
    --ubs-highlight-text: #fff469;
    --ubs-background-alternate: #ffffff;
    --ubs-background: #f5f5f5;
    --ubs-background-tooltip: #f5f5f5;
    --ubs-background-messagebox: #f5f5f5;
    --ubs-background-selected: #444444;
    --ubs-background-selected-hover: #1c1c1c;
    --ubs-background-disabled: #eeeeee;
    --ubs-background-disabled-selected: #bebebe;
    --ubs-background-inverse: #ffffff;
    --ubs-background-avatar: #eeeeee;
    --ubs-background-emphasis: #e60000;
    --ubs-background-hover: #eeeeee;
    --ubs-background-hover-alpha: #00000012;
    --ubs-background-pressed: #d7d7d7;
    --ubs-background-pressed-alpha: #00000029;
    --ubs-background-progress: #cccccc;
    --ubs-background-progress-gray: #646464;
    --ubs-background-progress-emphasis: #e60000;
    --ubs-background-process: #e6e6e6;
    --ubs-background-process-selected: #aaaaaa;
    --ubs-background-process-selected-hover: #1c1c1c;
    --ubs-background-form-read-only: #fafafa;
    --ubs-background-switch-read-only: #eeeeee;
    --ubs-border-form: #aaaaaa;
    --ubs-border-form-hover: #1c1c1c;
    --ubs-border-boxed: #d7d7d7;
    --ubs-border-selected: #444444;
    --ubs-border-progress: #cccccc;
    --ubs-border-dropzone: #bebebe;
    --ubs-secondary-border: #d7d7d7;
    --ubs-focus-keyboard: #009bd2;
    --ubs-focus-mouse: #000000;
    --ubs-border-form-disabled: #eeeeee;
    --ubs-border-file-upload: #e6e6e6;
    --ubs-border-avatar: #e6e6e6;
    --ubs-border-caret: #e60000;
    --ubs-border-divider: #e6e6e6;
    --ubs-button-primary: #444444;
    --ubs-button-primary-hover: rgb(45, 45, 45);
    --ubs-button-primary-pressed: rgb(18, 18, 18);
    --ubs-button-secondary: #00000012;
    --ubs-button-secondary-hover: #0000001a;
    --ubs-button-secondary-pressed: #00000029;
    --ubs-button-cta: #e60000;
    --ubs-button-cta-hover: rgb(219, 0, 0);
    --ubs-button-cta-pressed: rgb(207, 0, 0);
    --ubs-trade-red: #ba0000;
    --ubs-trade-red-hover: rgb(163, 0, 0);
    --ubs-trade-red-pressed: rgb(136, 0, 0);
    --ubs-trade-blue: #0e7ca4;
    --ubs-trade-blue-hover: rgb(8, 94, 137);
    --ubs-trade-blue-pressed: rgb(1, 60, 105);
    --ubs-trade-green: #677d00;
    --ubs-trade-green-hover: rgb(74, 95, 0);
    --ubs-trade-green-pressed: rgb(42, 61, 0);
    --ubs-background-confirmation: rgb(81, 109, 5);
    --ubs-background-error: rgb(186, 0, 0);
    --ubs-background-info: rgb(0, 94, 173);
    --ubs-background-warning: #e5b01c;
    --ubs-error: rgb(186, 0, 0);
    --ubs-border-error: #ba00004d;
    --ubs-warning: #e5b01c;
    --ubs-border-warning: #e5b01cb3;
    --ubs-confirmation: #677d00;
    --ubs-border-confirmation: #516d044d;
    --ubs-info: #3a578a;
    --ubs-border-info: #005eac4d;
    --ubs-metric-europe-positive: #0e7ca4;
    --ubs-metric-europe-negative: #ba0000;
    --ubs-metric-america-positive: #677d00;
    --ubs-metric-america-negative: #ba0000;
    --ubs-metric-asia-positive: #ba0000;
    --ubs-metric-asia-negative: #0e7ca4;
    --ubs-metric-positive: #0e7ca4;
    --ubs-metric-negative: #ba0000;
    --ubs-chart-gradient-america-positive: #677d00;
    --ubs-chart-gradient-america-negative: #bd000c;
    --ubs-chart-gradient-gold: #f2c551;
    --ubs-chart-gradient-default: #5b5e5d;
    --ubs-primary-text: #1c1c1c;
    --ubs-secondary-text: #646464;
    --ubs-tertiary-text: #646464;
    --ubs-label: #646464;
    --ubs-placeholder-text: #646464;
    --ubs-disabled-text: #bebebe;
    --ubs-white-text: #ffffff;
    --ubs-disabled-inverse-text: #aaaaaa;
    --ubs-autofilled: #e6f5fb;
    --ubs-search-highlights: #fff469;
    --ubs-bright-background: #ffffff;
    --ubs-marker-background: #e60000;
    --ubs-hover-background: #00000012;
    --ubs-pressed-background: #00000029;
    --ubs-primary-border: #444444;
    --ubs-separator-border: #e6e6e6;
    --ubs-focus: #009bd2;
    --ubs-focus-border: #009bd2;
    --ubs-focus-border-keyboard-user: #009bd2;
    --ubs-focus-border-mouse-user: #000000;
    --ubs-disabled-border: #eeeeee;
    --ubs-file-upload-border: #e6e6e6;
    --ubs-avatar-border: #e6e6e6;
    --ubs-primary: #444444;
    --ubs-primary-hover: rgb(45, 45, 45);
    --ubs-primary-pressed: rgb(18, 18, 18);
    --ubs-secondary: #00000012;
    --ubs-secondary-hover: #0000001a;
    --ubs-secondary-pressed: #00000029;
    --ubs-high-emphasis: #e60000;
    --ubs-high-emphasis-hover: rgb(219, 0, 0);
    --ubs-high-emphasis-pressed: rgb(207, 0, 0);
    --ubs-message-confirmation: rgb(81, 109, 5);
    --ubs-message-error: rgb(186, 0, 0);
    --ubs-message-info: rgb(0, 94, 173);
    --ubs-message-warning: #e5b01c;
    --ubs-error-border: #ba00004d;
    --ubs-warning-border: #e5b01cb3;
    --ubs-confirmation-border: #516d044d;
    --ubs-info-border: #005eac4d;
    --ubs-emea-positive: #677d00;
    --ubs-emea-negative: #ba0000;
    --ubs-america-positive: #677d00;
    --ubs-america-negative: #ba0000;
    --ubs-asia-positive: #ba0000;
    --ubs-asia-negative: #0e7ca4;
    --ubs-snackbar-confirm: rgb(81, 109, 5);
    --ubs-snackbar-error: rgb(186, 0, 0);
    --ubs-snackbar-info: rgb(0, 94, 173);
    --ubs-snackbar-warning: #e5b01c;
    --ubs-box-border: #d7d7d7;
    --ubs-box-border-alpha: #00000029;
    --ubs-error-background: #f7e1df;
    --ubs-warning-background: #fff3d8;
    --ubs-confirmation-background: #e5e6c5;
    --ubs-info-background: #dee2e9;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family:
        system-ui,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

a {
    color: #000066;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
