.listbox {
    color: #1c1c1c;
}

.group_label {
    color: #646464;
    padding: 20px 12px 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.option {
    cursor: pointer;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: background-color 0.3s;
}

.option:not([aria-disabled="true"]):hover {
    background-color: #eee;
}

.active {
    background-color: rgba(0, 0, 0, 0.16);
}

.selected {
    background-color: pink;
}
