.radio {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    appearance: none;
    border: 0;
    width: 16px;
    height: 16px;
    background: transparent 0 0 no-repeat;
    background-size: cover;
}

.radio:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Ccircle cx='8' cy='8' r='7' stroke='currentcolor' stroke-width='2' fill='none'%3E%3C/circle%3E%3Ccircle cx='8' cy='8' r='4' fill='curentcolor'%3E%3C/circle%3E%3C/svg%3E");
}

.radio:not(:checked) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Ccircle cx='8' cy='8' r='7' stroke='currentcolor' stroke-width='2' fill='none'%3E%3C/circle%3E%3C/svg%3E");
}

.radio:disabled {
    opacity: 0.2;
}

.radio:focus-visible {
    outline: 2px solid #009bd2;
}

.label {
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
