.radio {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    appearance: none;
    background-color: #fff;
    border: 1px solid #aaa;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-size: cover;
    outline: none;
    vertical-align: middle;
}

.label {
    vertical-align: middle;
    margin-left: 8px;
}

.small {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}

.radio:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E3C/circle%3E%3Ccircle cx='12' cy='12' r='7' fill='curentcolor'%3E%3C/circle%3E%3C/svg%3E");
}

.radio:not(:disabled):hover,
.radio:invalid:hover {
    border-color: #000;
}

.radio:disabled {
    border-color: #ddd;
    background-color: #f9f9f9;
}

.radio:disabled:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E3C/circle%3E%3Ccircle cx='12' cy='12' r='7' fill='%23ccc'%3E%3C/circle%3E%3C/svg%3E");
}

.radio:focus-visible {
    border-color: #009bd2;
    box-shadow: 0 0 0 1px #009bd2 inset;
}

.radio:invalid:not(:focus-visible) {
    border-color: red;
}

.disabled {
    color: #aaa;
}
