.calander {
    min-width: 275px;
    padding: 16px;
}

.header {
    display: flex;
    height: 48px;
    margin-bottom: 16px;
}

.title {
    flex: 1;
}

.month {
    --display: inline-block;
}

.square {
    aspect-ratio: 1;
}
