.wrapper {
    position: relative;
    display: inline-block;
}

.field {
    padding-right: 32px;
}

.trigger {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-color: transparent;
    border: 0;
    width: 28px;
}

.trigger:hover {
    background-color: #e6e6e6;
}

.trigger.active {
    background-color: #444;
    color: #fff;
}