.menu {
    display: inline-block;
    background-color: rgba(239, 236, 231, .6);
    border: 1px solid rgb(198, 198, 198);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
        5px 5px 10px 0 rgba(0, 0, 0, 0.05),
        -5px 5px 10px 0 rgba(0, 0, 0, 0.05);
}

.wrapper {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    padding-right: 1rem;
    white-space: nowrap;
}

.shortcut {}