.menu {
    display: inline-block;
    background-color: #f5f4f1;
    border: 1px solid rgb(198, 198, 198);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
        5px 5px 10px 0 rgba(0, 0, 0, 0.05),
        -5px 5px 10px 0 rgba(0, 0, 0, 0.05);
    color: #333;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper * {
    pointer-events: none;
}

.text {
    flex: 1;
    padding-right: 1rem;
    white-space: nowrap;
}